.button {
  display: inline-block;
  vertical-align: top;

  cursor: default;

  height: 24px;
  border-radius: 4px;
  background-color: #B6B6B6;
  padding: 0 13px;
  min-width: 72px;

  &:hover {
    background-color: #A3A3A3;
  }

  &:active {
    background-color: #919191;
  }

  &.disabled {
    cursor: not-allowed;

    &.blue {
      background-color: #14A6C7 !important;
    }

    &:not(.blue) {
      background-color: #B6B6B6 !important;
    }
  }

  &.small {
    min-width: auto;
    height: 20px;
    padding: 0 10px;

    p {
      font-size: 10px;
      line-height: 19px;
    }
  }

  &.blue {
    background-color: #14A6C7;

    &:hover {
      background-color: #1191AD;
    }

    &:active {
      background-color: #0F7B94;
    }

    p {
      font-weight: 600;
    }
  }

  p {
    font-size: 12px;
    color: #FFF;
    line-height: 23px;
    text-align: center;
    font-weight: 500;
  }
}
