.text-field {
  width: 100%;
  height: 24px;
  margin-bottom: 20px;

  display: inline-block;
  vertical-align: top;

  input {
    width: 100%;
    height: 24px;

    font-size: 12px;
    line-height: 16px;

    background-color: #fff;
    border: 1px solid #e4e4e4;

    padding: 3px 9px;
    border-radius: 4px;

    color: #525252;

    &::placeholder {
      color: #bdbdbd;
    }

    &:focus {
      border: 1px solid #14a6c7;
    }
  }
}
